repos:
-   repo: https://github.com/ambv/black
    rev: 21.11b1
    hooks:
    - id: black
      language_version: python3.8
-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
-   repo: local
    hooks:
        - id: pytest
          name: pytest
          stages: [commit]
          language: system
          entry: pytest -v --showlocals
          types: [python]